<h1>Registrar</h1>
<form method="POST" action="/register">
    <input type="text" name="username" placeholder="Usuário" required />
    <input type="password" name="password" placeholder="Senha" required />
    <button type="submit">Cadastrar</button>
</form>
<a href="/login">Login</a>